root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

[*.py]
# Python files
indent_style = space
indent_size = 4
max_line_length = 120

[*.{json,yaml,yml}]
# JSON and YAML files
indent_style = space
indent_size = 2

[*.md]
# Markdown files
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.{tf,tfvars}]
# Terraform files
indent_style = space
indent_size = 2

[Makefile]
# Makefile
indent_style = tab
